@charset "UTF-8";

:root {
    --color0: #ffffff;
    --color1: #f2ebe3;
    --color2: #6c7289;
    --color3: #3c8067;
    --color4: #2a5a49;
    --color5: #1c232b;

    --font0: 'Montserrat', sans-serif;
    --font1: 'Fraunces', serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--color1);
    font-family: var(--font0);
}

main.card {
    width: 343px;
    border-radius: 10px;
    background-color: var(--color0);
}

section.perfume, section img.product {
    height: 240px;
    width: 343px;
    border-radius: 10px 10px 0px 0px;
}

section.description {
    padding: 25px;
    width: 343px;
}

section.description h1 {
    margin-top: 10px;
    width: 295px;
    font-family: var(--font1);
    font-size: 2em;
    line-height: 1em;
}

section.description p {
    width: 295px;
    font-size: 14px;
    color: var(--color2);
}

section.description > p.type {
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 12px;
}

section.description > p.text {
    margin-top: 15px;
    line-height: 1.5em;
}

section.description > div {
    display: flex;
    margin-top: 20px;
    width: 295px;
}

div > h2.current-price {
    color: var(--color3);
    font-family: var(--font1);
    font-size: 2em;    
}

div > p.price {
    display: flex;
    padding-left: 17px;
    align-items: center;
    text-decoration: line-through;
}

button.add-to-cart {
    margin-top: 20px;
    width: 295px;
    padding: 15px;
    border: 0px;
    border-radius: 8px;
    background-color: var(--color3);
    color: white;
    font-weight: 700;
}

button.add-to-cart:hover,
button.add-to-cart:active {
    background-color: var(--color4);
    cursor: pointer;
}

button.add-to-cart img {
    margin-right: 7px;
}

@media (min-width: 768px) {
    main.card {
        display: flex;
        width: 600px;
        height: 450px;
    }

    section.perfume, section img.product {
        width: 300px;
        height: 450px;
        border-radius: 10px 0px 0px 10px;
    }

    section.description {
        padding: 30px;
        height: 385px;
    }

    section.description,
    section.description h1,
    section.description p,
    section.description div,
    button.add-to-cart {
        width: 235px;
    }

    section.description h1 {
        margin-top: 20px;
    }

    section.description > p.text {
        margin-top: 25px;
    }

    section.description > div {
        margin-top: 30px;
    }

    button.add-to-cart {
        margin-top: 25px;
    }
}