@charset "UTF-8";

/* @import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700&family=Montserrat:wght@500;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');

@font-face {
    font-family: Fraunces;
    src: url(font/Fraunces/static/Fraunces_9pt-Regular.ttf) format("truetype");
}

/*
    Fraunces 700
    Montserrat 500 700
*/

:root {
    --background: #f2ebe3;
    --card: #ffffff;
    --color-font1: #1c232b;
    --color-font2: #6c7289;
    --prominence: #3c8067;

    --font-standard: 'Montserrat', sans-serif;
    --font-prominence: 'Fraunces', serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--background);
    font-family: var(--font-standard);
}

.card {
    background-color: var(--card);
    border-radius: 10px;
    width: 350px;
}

.product {
    width: 350px;
    border-radius: 10px 10px 0px 0px;
}

.description {
    margin: 10px;
    width: 300px;
}

.description h1 {
    font-family: 'Fraunces', sans-serif;
    font-weight: 700;
    font-size: 1.5em;
    margin: 9px;
}

.description p {
    color: var(--font2);
    line-height: 1.5em;
    margin: 10px;
    font-size: 14px;
}

.type {
    text-transform: uppercase;
    letter-spacing: 5px;
    margin: 30px 10px 2px !important;
    font-size: 0.8em;
}


div {
    display: flex;
    margin: 10px;
}

.current-price {
    color: var(--prominence);
    font-family: 'Fraunces', sans-serif;
    font-weight: 700;
    font-size: xx-large;
    margin: 10px;
}

.price {
    text-decoration: line-through;
    height: min-content;
    margin-top: 20px !important;
}

.add-to-cart {
    background-color: var(--prominence);
    color: white;
    padding: 15px;
    width: 300px;
    border: 0px;
    border-radius: 8px;
    margin: inherit;
    font-weight: 700;
}

.add-to-cart:hover, .add-to-cart:active {
    background-color: #2a5a49;
    cursor: pointer;
}

.add-to-cart img {
    margin-right: 7px;
}


/* .attribution {
    position: absolute;
    bottom: 0;

    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
} */