@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

:root {
    --color0: #e0e8ff;
    --color1: #3829e0;
    --color2: #ffffff;
    --color3: #f5f7ff;
    --color4: #7280a7;
    --color5: #1f2f56;
    --color6: #766cf1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;

    background: var(--color0) url(../images/pattern-bg-mobile.svg) no-repeat;
    background-size: 100vw 30vh;
    background-position: top center;

    color: var(--color4);
    font: 500 16px 'Red Hat Display', sans-serif;

    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    height: 570px;
    width: 330px;
    border-radius: 20px;
    background-color: var(--color2);
    text-align: center;
}

.card > * {
    width: 280px;
    margin: auto;
}

.person-music {
    width: 100% !important;
    border-radius: 20px 20px 0px 0px;
}

.title {
    margin: 20px auto;
    font-size: 1.5em;
    font-weight: 900;
    color: var(--color5);
}

.description {
    margin: 10px auto;
    text-indent: 5px;
    line-height: 1.5em;
}

.contract {
    margin: 25px auto;
    width: 280px;
    height: 80px;
    border-radius: 10px;
    padding: 15px;
    background-color: var(--color3);

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contract__icon-music-note {
    width: 45px;
}

.contract__plane {
    margin-right: 30px;
}

.contract__plane-type {
    font-size: 0.9em;
    color: var(--color5);
}

.contract__price {
    font-size: 0.9em;
}

.contract__link-change {
    color: var(--color1);
    font-weight: 900;
    font-size: 0.9em;
}

.contract__link-change:hover {
    color: var(--color6);
    text-decoration: none;
}

.proceed {
    height: 50px;
    border-width: 0;
    border-radius: 10px;
    background-color: var(--color1);
    color: var(--color2);
    font-family: 'Red Hat Display';
    font-size: 0.9em;
    font-weight: 900;
    box-shadow: 0px 10px 15px 0px rgba(0, 0, 255, 0.3);
}

.proceed:hover {
    cursor: pointer;
    background-color: var(--color6);
}

.cancel {
    margin: 10px auto;
    display: block;
    height: 50px;
    padding: 15px;
    font-weight: 900;
    font-size: 0.9em;
    color: var(--color4);
    text-decoration: none;
}

.cancel:hover {
    color: var(--color5);
}