@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
    --fonte: 'Kumbh Sans', sans-serif;
    --cor: rgb(25, 162, 174);
}

* {
    margin: 0px !important;
}

body {
    background-color: var(--cor);
    font: 400 16px var(--fonte);
    color: black;

    width: 100%;
    height: 100vh;
    overflow: hidden;
}

body > img.bola {
    width: 1000px;
}

body > img#bolaCima {
    position: absolute;
    top: -500px;
    left: -300px;
}

body > img#bolaBaixo {
    position: absolute;
    bottom: -600px;
    right: -250px;
}

body > main.card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 350px;
    height: 375px;
    border-radius: 15px;
    background-color: white;
}

main.card > header {
    width: 350px;
    height: 140px;
}

main.card > header > img {
    border-radius: 15px 15px 0px 0px;
}
/* -------------------------------------------------------------------------------- */
main.card > main {
    text-align: center;
    height: 145px;
}

main.card > main > img {
    border-radius: 50%;
    outline: white solid 5px;

    position: relative;
    top: -33%;
}