@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
    --fonte: 'Kumbh Sans', sans-serif;

    --cor0: #19a2ae;
    --cor1: #2d3248;
    --cor2: #6a6f81;
    --cor3: #969696;
}

* {
    margin: 0px !important;
}

body {
    background-color: var(--cor0);
    font: 400 16px var(--fonte) !important;
    color: var(--cor2);

    width: 100%;
    height: 100vh;
    overflow: hidden;
}

body > img.bola {
    width: 1000px;
    z-index: 1;
}

body > img#bolaCima {
    position: absolute;
    top: -500px;
    left: -300px;
}

body > img#bolaBaixo {
    position: absolute;
    bottom: -600px;
    right: -250px;
}

body > main.card {
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 350px;
    height: 375px;
    border-radius: 15px;
    background-color: white;
}

main.card > header {
    width: 350px;
    height: 140px;
}

main.card > header > img {
    border-radius: 15px 15px 0px 0px;
}

main.card > main.information {
    text-align: center;
    height: 145px;
}

main.card > main.information > img {
    border-radius: 50%;
    outline: white solid 5px;

    position: relative;
    top: -33%;
}

main.information > h1, main.information > p {
    position: relative;
    top: -30px;
}

main.information > h1 {
    font-size: 16px;
    margin-bottom: 10px !important;
}

main.information > h1 > strong {
    font-size: 18px;
    color: var(--cor1);
    margin-right: 5px !important;
}

main.information > h1 > span {
    font-size: 16px;
}